@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";

/* In your global CSS */
.hide-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
   }
   .hide-scrollbar::-webkit-scrollbar {
     display: none;
   }